@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ricardo López Zavala<br />
    <br />
    (56)2097.0859
    <br />
    (55)2632.1685
</address>

<address>
    <strong>E-Mail:</strong>   <a href="mailto:ricklopezz@hotmail.com">Support@example.com</a><br />
</address>