@{
    ViewBag.Title = "Principal";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Este es un ejemplo de un CRUD MVC Utilizando Entity Framework<br /> como examen para la Fundación Carlos Slim.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Catálogo de Usuarios</h2>
        <p>
            CRUD de Usuarios realizado con MVC y Entity Framework
        </p>
        <p><a class="btn btn-default" href="../Usuarios2">Listado Usuarios</a></p>
    </div>
    
</div>